@using CardBid.Data
@using CardBid.Data.Models
@using CardBid.DataAcessLibrary
@using CardBid.Exceptions
@using Microsoft.EntityFrameworkCore
@using Blazored.LocalStorage
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager
@inject CardBidDbContext DbContext
@inject IContaData ContaService

@page "/forgotpassword"

<div class="flex flex-col justify-center items-center h-screen">
    <h1 class="font-bold text-3xl py-2">Forgot Your Password?</h1>
    <div class="flex flex-col space-y-4">
        <input type="text" placeholder="Email" @bind="Email" class="border-black border-2 px-4 py-2 rounded">
        <button class="bg-blue-500 text-white px-4 py-2 rounded w-96">Restore Password</button>
        @if (!string.IsNullOrEmpty(message))
        {
            <p class="text-red-500">@message</p>
        }
        <a href="/login" class="button-like" @onclick="NavigateToLogin">Already have an account? Log in</a>
        <a href="/register" class="button-like" @onclick="NavigateToRegister">Don't have an account? Signup</a>
    </div>
</div>

@code {
    private string Email { get; set; }
    private string Password { get; set; }
    private string message;

    private void NavigateToRegister()
    {
        NavigationManager.NavigateTo("/register");
    }
    
    private void NavigateToLogin()
    {
        NavigationManager.NavigateTo("/login");
    }
}