@inject NavigationManager NavigationManager
@page "/"

<PageTitle>CardBid</PageTitle>

<div class="min-h-fit">
    <div class="flex h-96">
        <div class="flex flex-col justify-center items-center p-4 w-1/2 h-full">
            <h2 class="font-bold text-2xl mb-2">Discover the world of Auctions</h2>
            <div class="flex flex-row">
                <button class="bg-black text-white px-4 py-2 rounded mx-2" @onclick = "NavigateToLearnMore">Learn More</button>
                <button class="bg-white text-black border-black border-2 px-4 py-2 rounded mx-2" @onclick = "NavigateToRegister">Signup</button>
            </div>
        </div>

        <div class="flex flex-col bg-gray-400 w-full border-l-2 border-b-2 border-black">
            <div class="flex flex-end justify-end h-2/3 bg-gray-400">
                <img src="" class="max-h-full">
            </div>
            <div class="flex flex-col justify-start h-fit bg-gray-200 px-2">
                <h1 class="font-bold text-2xl pb-2 w-fit">Card Bid</h1>
                <div class="flex flex-row justify-between">
                    <div class="flex flex-row">
                        <button class="bg-black h-8 w-8 rounded-full ml-2"></button>
                        <button class="bg-gray-400 h-8 w-8 rounded-full ml-2"></button>
                        <button class="bg-gray-400 h-8 w-8 rounded-full ml-2"></button>
                    </div>
                    <div class="flex flex-row px-4">
                        <button class="bg-gray-400 border-black border h-16 w-16 rounded-full ml-2"></button>
                        <button class="bg-gray-400 border-black border h-16 w-16 rounded-full ml-2"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="flex w-full py-8 h-fit items-center justify-center">
        <div class="px-2 flex flex-col items-center">
            <img src="" alt="emoji" />
            <h2 class="font-bold text-2xl">Discover How Our Cards Auctions Works</h2>
            <p>At our auctions, you can bide a wide variety of collectible cards from different categories and eras.</p>
            <div class="flex flex-row py-4">
                <button class="bg-white text-black border-black border-2 px-4 py-2 rounded mx-2">Bid</button>
                <button class="bg-white text-black px-4 py-2 rounded mx-2">Win ></button>
            </div>
        </div>
        <div class="w-fit px-2 flex flex-col items-center">
            <img src="" alt="emoji" />
            <h2 class="font-bold text-2xl">Secure your Favorite Cards with Ease</h2>
            <p class="w-fit break-normal">Once you win an auction, you can securily complete your purchase and have the cards delivered to your doorstep.</p>
            <div class="py-4">
                <button class="bg-white text-black border-black border-2 px-4 py-2 rounded mx-2">Purchase</button>
            </div>
        </div>
    </div>

    <div class="flex flex-row h-fit w-screen py-8 px-8">
        <div class="flex flex-col bg-gray-400 w-1/2 p-2">
            <div class="flex flex-end justify-end w-full h-96 bg-gray-400">
                <img src="" class="max-h-full">
            </div>
        </div>
        <div class="flex flex-col justify-center items-center p-4 w-1/2">
            <h2 class="font-bold text-2xl mb-2">Discover the most sought-after cards in our exclusive auction.</h2>
            <p class="break-line px-2 items-center">Our feature section showcases a wide range of collectible cards, allowing you to find and bid on the ones you have been searching for. Withour user-friendly interface and secure bidding system, you can easily participate in the excitement of card auctions and add unique pieces to your collection.</p>
        </div>
    </div>  

    <div class="flex w-screen h-fit py-8 px-16">
        <div class="flex flex-col justify-center items-center p-4 w-2/3 h-full">
            <h2 class="font-bold text-2xl mb-2">Discover the best card auctions</h2>
            <p>Explore a wide selection of rare and valuable cards for auction.</p>
            <div class="flex flex-row py-2">
                <button class="bg-white text-black border-black border-2 px-4 py-2 rounded mx-2 w-24">Bid</button>
                <button class="bg-black text-white px-4 py-2 rounded mx-2 w-24">Join</button>
            </div>
        </div>

        <div class="flex flex-col bg-gray-400 w-full">
            <div class="flex flex-end justify-end w-full h-52 bg-gray-400">
                <img src="" class="max-h-full">
            </div>
        </div>
    </div>
</div>

@code {
    private void NavigateToRegister()
    {
        NavigationManager.NavigateTo("/register");
    }

    private void NavigateToLearnMore()
    {
        NavigationManager.NavigateTo("/learnmore");
    }
}

