<div class="">
    <div class="flex flex-row justify-center items-center h-72 px-4 bg-gray-200">
        <div class="w-1/2">
            <h1 class="font-bold text-3xl italic">Card Bid</h1>
            <p>Explore a wide selection of rare and valuable cards for auction.</p>
            <div class="flex flex-row space-x-2">
                <input type="text" placeholder="Email Address" class="border-black border-2 px-4 py-2 rounded">
                <button class="bg-white text-black border-black border-2 px-4 py-2 rounded">Subscribe</button>
            </div>
            <p> By subscribing, you agree to receive emails from Card Bid. You can unsubscribe at any time.</p>
        </div>
        <div class="flex flex-row w-1/2 space-x-16 justify-center">
            <div class="flex flex-col items-center py-2">
                <a href="">About</a>
                <a href="">Contact Us</a>
                <a href="">FAQS</a>
                <a href="">Support</a>
            </div>
            <div class="flex flex-col items-center py-2">
                <i class="fab fa-facebook-square">Facebook</i>
                <i class="fab fa-instagram-square">Instagram</i>
                <i class="fab fa-twitter-square">Twitter</i>
                <i class="fab fa-linkedin-square">LinkedIn</i>
            </div>
        </div>  
    </div>
    <div class="border-t-[1px] border-black flex flex-row justify-center items-center h-16 px-4 bg-gray-200 space-x-16">
        <p class="flex justify-start">© 2024 Card Bid. All rights reserved.</p>
        <div class="justify-end flex flex-row space-x-4">
            <a href="">Terms of Use</a>
            <a href="">Privacy Policy</a>
            <a href="">Cookie Settings</a>
        </div>
    </div>
</div>    
