@inherits LayoutComponentBase
@using Blazored.LocalStorage
@inject ILocalStorageService LocalStorage

<PageTitle>CardBid</PageTitle>

<div class="h-fit max-w-screen">
    @if (userLoggedIn)
    {

        <!-- If username is equal to admin, show admin navbar else show user navbar -->
        @if (userAdmin)
        {
            <NavbarAdmin />
        }
        else
        {
            <NavbarLoggedIn />
        }
    }
    else
    {
        <!-- If empty, user is not logged in, show regular navbar -->
        <Navbar />
    }
    @Body
</div>
<Footer/>

@code {
    private bool userAdmin = false;
    private bool userLoggedIn = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var username = await LocalStorage.GetItemAsync<string>("username");

            if (username != null)
            {
                if(username == "admin")
                {
                    userAdmin = true;
                }
                userLoggedIn = true;
                StateHasChanged(); // Ensure the component re-renders after the async call.
            }
        }
    }
}