@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
<div class="flex px-4 py-2 w-full justify-between border-b-[1px] border-black">
    <div class="flex items-center space-x-4">
        <button class="text-black px-4 py-2 rounded">Buy Cards</button>
        <button class="text-black px-4 py-2 rounded" @onclick = "NavigateToSellCard">Sell Cards</button>
    </div>
    <button class="font-bold text-3xl italic" @onclick = "NavigateToHomePage">Card Bid</button>
    <div>
        <button class="text-black border-2 border-black px-4 py-2 rounded" @onclick = "NavigateToLogin">Login</button>
        <button class="bg-black text-white px-4 py-2 rounded">Search</button>
    </div>
</div>

@code {
    private void NavigateToLogin()
        {
            NavigationManager.NavigateTo("/login");
        }

    private async Task NavigateToSellCard()
        {
            var username = await LocalStorage.GetItemAsync<string>("username");
                
            if (username != null)
            {
                NavigationManager.NavigateTo("/card/new");
            }
            else
            {
                NavigationManager.NavigateTo("/login");
            }
        } 

    private void NavigateToHomePage()
        {
            NavigationManager.NavigateTo("/");
        }    
}